name: Update TimeEdit Calandar

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:
  
jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          
      - name: Install dependencies
        run: pip install -r requirements.txt
        
        - name: Generate calandar
          run: python clean_timeedit.py

      - name: Commit updated calendar
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add docs/clean.ics
          git commit -m "Update calendar" || echo "No changes"
          git push
